<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <title>Edit Details</title>
</head>
<body>
    Edit details
    <form action="" method="post">
        {% csrf_token %}
        <label for="dir_name">Name</label>
        <input type="text" name="dir_name"><br><br>
        <label for="phone_number">Phone Number</label>
        <input type="text" name="phone_number"><br><br>
        <label for="alt_number">Alternate Number</label>
        <input type="text" name="alt_number"><br><br>
        <label for="address">Address</label>
        <input type="text" name="address"><br><br>
        <button type="submit" value="Add">Add</button>
    </form>
</body>
</html>