<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="Name">Name:</label><input type="text" name="Name" id="Name" required><br><br>
        <label for="Password">Password:</label><input type="password" name="Password" id="Password" required><br><br><br><br>
        <button type="submit" value="Login">Login</button>
    </form>
</body>
</html>